[user]
	name = Miles Crighton
	email = miles.crighton@gmail.com
; [includeIf "gitdir:~/work/"]
;     path = ~/work/.gitconfig
[pull]
    rebase = true
[rebase]
    autoStash = true
[color]
    diff = auto
    status = auto
    branch = auto
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "diff"]
    meta = yellow
    old = red
    new = green
[alias]
    ac = !git add -A && git commit -m
    l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn\\ \\-\\ %ad]%n\\ \\ \\ %Cgreen|" --decorate --date=short
    plog = log --graph --pretty=format:'%C(bold blue)%h%Creset - %C(yellow)%d%Creset %s %C(cyan dim)(%cr)%Creset %n' --abbrev-commit --branches
    s = status -s
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"
[hub]
    protocol = https
[init]
    defaultBranch = master
[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager-core
[core]
    editor = nvim
    pager = delta
[credential "https://dev.azure.com"]
    useHttpPath = true
[http]
	postBuffer = 157286400
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[credential "http://git.codesubmit.io"]
	provider = generic
