; see https://npmjs.org/doc/misc/npm-config.html
; for all the options
init.author.name = miles-crighton
init.author.email = miles-crighton@gmail.com
init.author.url = https://github.com/miles-crighton
init.license = MIT
loglevel = error